body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}


.hero {
background-image: url("https://www.google.com/search?q=cool+wallpapers&rlz=1CAACAJ_enUS698US698&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiIncTawYXYAhXh44MKHbCmD74Q_AUICigB&biw=1366&bih=654#imgrc=p_CzIi4d-QXCyM:");
  background-size: cover;
  padding: 250px 0;
	margin: 30px;
color:#ffffff
