body {
	height: 100%;
	margin: 0;
	width: 100%;
}
.header { 	text-align: center;}
.AboutUs { text-align: center;
}
.links {margin: 20px;}
.CharityHeading { text-align: center;}
.CharityLinks {margin: 20px;}
body {background-image: 
	url("https://www.google.com/search?q=light+blue+textured+background&safe=active&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiT1LbyrrrYAhUjkeAKHeuYDOoQ_AUICigB&biw=1390&bih=723#imgrc=6o9919Yyulr6MM:");
  background-size: cover;}
