body {
	height: 100%;
	margin: 0;
	width: 100%;
  
font-family: Courier;     }
.header {margin: 200px;
	text-align: center;}
.AboutUs {margin: 30px;
	text-align: center;}
.links {margin: 20px;}
.CharityHeading { text-align: center;}
.CharityLinks {margin: 20px;
text-align: center;}
.ChildrenTitles {text-align: center;}
body {background-image: 
	url("http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg");
  background-size: cover;}
.CharityDescriptions {text-align: center;
margin: 30px;}
.Spotlight 
{  	text-align: center;
	margin: 50px;
	border: 2px solid black;}
.CharityTitles {text-align: center;}
